# ==========================================
# KONFIGURASI DATABASE (INTERNAL DOCKER COMPOSE)
# ==========================================
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=db_ststem_absen

# ==========================================
# PENGATURAN FLASK & KEAMANAN
# ==========================================
DEBUG_MODE=true
# Ganti dengan string acak dan panjang saat dideploy ke produksi
JWT_SECRET_KEY=Isi_Dengan_JWT_Secret_Key_Random_Anda
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRES_DAYS=7

# ==========================================
# PENGATURAN KECERDASAN BUATAN (AI)
# ==========================================
# Threshold 0.50 didapat dari hasil Benchmark (Impostor Match Max 0.40)
ARCFACE_THRESHOLD=0.50

# Batas ukuran payload kamera base64 (dalam Megabyte)
MAX_IMAGE_SIZE_MB=3